.modal-button {
  background-color: rgb(232, 87, 100);
  color:white;
}

p {
  padding: 10px;
  color: grey;
}

td > button {
  background-color: #4BB363;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.vote_chosen{
  background-color: rgb(232, 87, 100);
  opacity: 0.8;
}

.description {
  text-overflow: ellipsis;
}

.swal-modal {
  padding-bottom: 25px;
}

#create_user {
  background-color: #FF8F70;
  padding: 10px;
  margin: 10px;
  color: white;
}
